@font-face{
	font-family: "code128";
	src: url(Font/code128.ttf);	
}


html{
	font-family:"code128";
}

h2{
color:black;
background-color: Orange;
border-width: 1px;
border-color: black;
border-style: solid;
border-radius:5px;
}
h1{
    color:black;
    background-color:orange;
    border-width: 1px;
    border-style:solid;
    border-radius:5px;
}
div {
    background-color: orange;
    padding: 10px;
    margin: -10px;
}

a{
    color:orange;
    text-decoration: none;
}

ol{
    color: orange;
}

body{
    background-color:black;
}

hr {
    border: 1px solid orange;
    background-color: orange;
}

p{
    color:orange ;
}

button{
    background-color:black;

}

body, html {
    height: 100%;
    text-align: center;
}

body {
  background-color: black;
}

.av-club-image{
    background-color:orange;
    width: 270px;
    
}
